# General
.DS_Store
.vscode/
*.log

# Node
node_modules/
npm-debug.log*

# Environment files
backend/.env
*.env.local
*.env.*.local

# Build directories
dist/
build/
out/
.next/

# IDE specific
.idea/
*.swp
*.swo